---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import ThankYou from "../components/ThankYou.astro";
import "../styles/global.css";
---

<Layout>
  <div id="form-section" class="w-full">
    <Form />
  </div>

  <div id="thank-you-section" class="w-full hidden">
    <ThankYou />
  </div>
</Layout>
